* {
    font-family: monospace;
    text-align: center;
  }
  
  p, select, button{
    font-size: 1.5rem;
  }
  
  button, select {
    padding: 5px 8px;
  }
  
  body{
    background: skyblue;
  }
  
  .hide{
    display: none;
  }
  
  .movie-sentence{
    margin-top: 1rem;
    width: 350px;
    margin:4rem auto;
  }
  
  .movie{
    font-size: 1.5rem;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
  }